# Node
node_modules/
package-lock.json
yarn.lock

# 构建输出
dist/
build/
lib/
es/
coverage/

# 环境变量
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# 系统文件
.DS_Store
Thumbs.db

# Dumi
.dumi/tmp
.dumi/tmp-production

# dumi build output
docs-dist/

# hooks build output
packages/hooks/lib/
packages/hooks/es/
packages/hooks/dist/
packages/hooks/.rollup.cache/

# npm
.npmrc
